@model DashboardViewModel
@{
    ViewData["Title"] = "داشبورد";
}

<!-- Hero Banner Section -->
<div class="bg-image" style="background-image: url('/assets/media/photos/photo12@2x.jpg');">
    <div class="bg-black-75">
        <div class="content content-boxed content-full py-5">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center py-3">
                    <div class="w-100 text-center text-md-start">
                        <h1 class="h2 text-white mb-2">داشبورد</h1>
                        <h2 class="h4 fs-sm text-uppercase fw-semibold text-white-75">خوش آمدید  @ViewBag.CurrentUser.FullName </h2>
                        <div class="text-white-50 fs-sm">آخرین بروزرسانی: @DateTime.Now.ToString("HH:mm")</div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>


<!-- END یادآوری‌ها -->
@section Scripts {

    
}