@model List<BranchUserViewModel>

@{
    Layout = null;
}

@if (Model?.Any() == true)
{
    <select class="js-select2 form-select" 
            id="AssignmentsSelectedTaskUserArraysString" 
            data-placeholder="کاربران را انتخاب کنید" 
            multiple="multiple" 
            name="AssignmentsSelectedTaskUserArraysString" 
            style="width: 100%;">
        @foreach (var user in Model)
        {
            <option value="@user.UserId">@user.UserFullName</option>
        }
    </select>
}
else
{
    <select class="js-select2 form-select" 
            id="AssignmentsSelectedTaskUserArraysString" 
            data-placeholder="کاربری در این شعبه یافت نشد" 
            multiple="multiple" 
            name="AssignmentsSelectedTaskUserArraysString" 
            style="width: 100%;">
    </select>
}

<script>
    $(document).ready(function() {
        $('#AssignmentsSelectedTaskUserArraysString').select2({
            placeholder: '@(Model?.Any() == true ? "کاربران را انتخاب کنید" : "کاربری در این شعبه یافت نشد")',
            allowClear: true,
            width: '100%'
        });
        
        console.log('Partial view BranchUsersSelect loaded with @(Model?.Count ?? 0) users');
    });
</script>