@model TaskOperationViewModel

<div class="modal-header block-header-default @ViewBag.themeclass">
    <h3 class="modal-title text-white">حذف عملیات</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
</div>
<form asp-action="DeleteOperationPost" method="post">
    <div class="modal-body">
        <input type="hidden" asp-for="Id" />
        
        <div class="alert alert-danger">
            <div class="d-flex">
                <div class="flex-shrink-0">
                    <i class="fa fa-exclamation-triangle fa-2x text-danger"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <p class="mb-0">آیا از حذف عملیات <strong>@Model.Title</strong> از تسک <strong>@ViewBag.TaskTitle</strong> اطمینان دارید؟</p>
                    <p class="text-danger mb-0"><strong>توجه:</strong> این عمل غیرقابل بازگشت است.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">انصراف</button>
        <button type="submit" class="@ViewBag.ButonClass">
            <i class="fa fa-trash opacity-50 me-1"></i> حذف عملیات
        </button>
    </div>
</form>