<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">افزودن تسک جدید</h1>
            <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="نشانگر مسیر">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">مدیریت</li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Tasks")">تسک‌ها</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">افزودن جدید</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
