<!-- Navigation Tabs -->
<div class="block block-rounded">
    <ul class="nav nav-tabs nav-tabs-block" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="main-info-tab" data-bs-toggle="tab" data-bs-target="#main-info" type="button" role="tab">
                <i class="fa fa-info-circle me-1"></i>
                اطلاعات اصلی
                <span class="badge bg-danger ms-1 d-none" id="main-info-error">!</span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="project-info-tab" data-bs-toggle="tab" data-bs-target="#project-info" type="button" role="tab">
                <i class="fa fa-folder-open me-1"></i>
               جزئیات بیشتر تسک
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="timeframe-tab" data-bs-toggle="tab" data-bs-target="#timeframe" type="button" role="tab">
                <i class="fa fa-clock me-1"></i>
                بازه زمانی
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="operations-tab" data-bs-toggle="tab" data-bs-target="#operations" type="button" role="tab">
                <i class="fa fa-tasks me-1"></i>
                فهرست کارها
                <span class="badge bg-primary ms-1" id="operations-count">0</span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="reminders-tab" data-bs-toggle="tab" data-bs-target="#reminders" type="button" role="tab">
                <i class="fa fa-bell me-1"></i>
                یادآوری‌ها
                <span class="badge bg-success ms-1" id="reminders-count">1</span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="viewers-tab" data-bs-toggle="tab" data-bs-target="#viewers" type="button" role="tab">
                <i class="fa fa-eye me-1"></i>
                ناظرین
                <span class="badge bg-info ms-1" id="viewers-count">0</span>
            </button>
        </li>
    </ul>
</div>
