@model TaskViewModel

<div class="tab-pane fade" id="tab-settings" role="tabpanel">
    <div id="task-settings-container">
        <div class="block block-rounded block-fx-shadow">
            <div class="block-content text-center py-5">
                <i class="fa fa-spinner fa-spin fa-3x text-muted mb-3"></i>
                <p class="text-muted">در حال بارگذاری تنظیمات...</p>
            </div>
        </div>
    </div>
</div>
