@model ChangePasswordByAdminViewModel

@{
    Layout = null;
}

<!-- Fade In Block Modal -->

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="block block-rounded block-themed block-transparent mb-0">
            <form>
                <input asp-for="userId" value="@ViewBag.userId" type="hidden" />

                <div class="block-header bg-primary-dark">
                    <h3 class="block-title" style="color:white;">تغییر رمز عبور @ViewBag.FullName</h3>
                    <div class="block-options">
                        <button aria-label="Close" class="btn-block-option" data-bs-dismiss="modal" type="button">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="block-content">
                    <!--NewPassword-->
                    <div class="mb-3">
                        <div class="input-group input-group-lg">
                            <input class="form-control" id="NewPassword" name="NewPassword" placeholder="کلمه عبور" type="password" />
                            <span class="input-group-text">
                                <i class="fa fa-asterisk"></i>
                            </span>
                        </div>
                    </div>

                    <!--ConfirmPassord-->
                    <div class="mb-3">
                        <div class="input-group input-group-lg">
                            <input class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" placeholder="تکرار کلمه عبور" type="password" />
                            <span class="input-group-text">
                                <i class="fa fa-asterisk"></i>
                            </span>
                        </div>
                    </div>

                    <div id="divmsg" class="col-md-12 col-xs-12 alert hidden" style="text-align:center;"></div>

                </div>

                <div class="block-content block-content-full text-end bg-body">
                    <button class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal" type="button">بازگشت</button>
                    <button class="btn btn-sm btn-primary" type="button" id="btnok">تغییر رمز</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- END Fade In Block Modal -->

<script>
    $("#btnok").on('click', function () {
        var newPass = $("#NewPassword").val();
        var confirmNewPass = $("#ConfirmNewPassword").val();

        if (newPass == "" || newPass == null) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('رمز عبور جدید وارد نشده است');
            return false;
        }
        if (confirmNewPass == "" || confirmNewPass == null) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('تکرار رمز عبور جدید وارد نشده است');
            return false;
        }
        if (newPass.length < 4 || newPass.length > 30) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('رمز عبور حداقل 8 کاراکتر و حداکثر 30 کاراکتر باید باشد');
            return false;
        }
        if (newPass != confirmNewPass) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('رمز عبور با تکرار آن یکسان نیست');
            return false;
        }

        $.ajax({
            type: "Post",
            url: '@Url.Action("ChangePassByAdmin","UserManager")',
            data: {
                'userId': $("#userId").val(),
                'NewPassword': newPass,
                'ConfirmNewPassword': confirmNewPass,
            }
        }).done(function (res) {
            if (res.status == 'ok') {
                $("#divmsg").removeClass('hidden').removeClass('alert-danger').addClass('alert-success').html('رمز عبور با موفقیت تغییر کرد');
            }
            else if (res.status == 'error') {
                $("#divmsg").removeClass('hidden').addClass('alert-danger').html('در ثبت اطلاعات خطایی رخ داده است');
            }
        });
    });

</script>