@{
    var UserName = ViewBag.UserName;

}
<!-- Header -->
<header id="page-header">
    <!-- Header Content -->
    <div class="content-header">
        <!-- Left Section -->
        <div class="space-x-1">
            <!-- Toggle Sidebar -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout()-->
            <button class="btn btn-alt-secondary" data-action="sidebar_toggle" data-toggle="layout" type="button">
                <i class="fa fa-fw fa-bars"></i>
            </button>
            <!-- END Toggle Sidebar -->
            <!-- Open Search Section -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <button class="btn btn-alt-secondary" data-action="header_search_on" data-toggle="layout" type="button">
                <i class="fa fa-fw opacity-50 fa-search"></i> <span class="ms-1 d-none d-sm-inline-block">جستجو</span>
            </button>
            <!-- END Open Search Section -->
        </div>
        <!-- END Left Section -->
        <!-- Right Section -->
        <div class="space-x-1">
            <!-- User Dropdown -->
            <div class="dropdown d-inline-block">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-alt-secondary" data-bs-toggle="dropdown" id="page-header-user-dropdown" type="button">
                    <i class="fa fa-fw fa-user d-sm-none"></i>
                    <span class="d-none d-sm-inline-block">@UserName</span>
                    <i class="fa fa-fw fa-angle-down opacity-50 ms-1 d-none d-sm-inline-block"></i>
                </button>
                <div aria-labelledby="page-header-user-dropdown" class="dropdown-menu dropdown-menu-end p-0">
                    <div class="bg-primary-dark rounded-top fw-semibold text-white text-center p-3"> گزینه های کاربر </div>
                    <div class="p-2">
                        <a class="dropdown-item" asp-controller="UserManager" asp-action="Index">
                            <i class="far fa-fw fa-user me-1"></i> پروفایل
                        </a>

                        <div class="dropdown-divider" role="separator"></div>
                        <a class="dropdown-item" href="/Account/LogOut">
                            <i class="far fa-fw fa-arrow-alt-circle-left me-1"></i> خروج از سیستم
                        </a>
                    </div>
                </div>
            </div>
            <!-- END User Dropdown -->


            <!-- Toggle Side Overlay -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <button class="btn btn-alt-secondary" data-action="side_overlay_toggle" data-toggle="layout" type="button">
                <i class="far fa-fw fa-list-alt"></i>
            </button>
            <!-- END Toggle Side Overlay -->
        </div>
        <!-- END Right Section -->
    </div>
    <!-- END Header Content -->
    <!-- Header Search -->
    <div class="overlay-header bg-header-dark" id="page-header-search">
        <div class="bg-white-10">
            <div class="content-header">
                <form action="be_pages_generic_search.html" class="w-100" method="POST">
                    <div class="input-group">
                        <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                        <button class="btn btn-alt-primary" data-action="header_search_off" data-toggle="layout" type="button">
                            <i class="fa fa-fw fa-times-circle"></i>
                        </button>
                        <input class="form-control border-0" id="page-header-search-input" name="page-header-search-input" placeholder="جستجو کنید یا ESC را بزنید" type="text" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Header Search -->
    <!-- Header Loader -->
    <!-- Please check out the Loaders page under Components category to see examples of showing/hiding it -->
    <div class="overlay-header bg-header-dark" id="page-header-loader">
        <div class="bg-white-10">
            <div class="content-header">
                <div class="w-100 text-center">
                    <i class="fa fa-fw fa-sun fa-spin text-white"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- END Header Loader -->
</header>
<!-- END Header -->
