@model MyDayTasksViewModel

<div class="row items-push text-center">
    <div class="col-6 col-lg-3">
        <a class="block block-rounded block-link-shadow h-100 mb-0" href="javascript:void(0)">
            <div class="block-content py-4">
                <div class="item rounded-circle bg-primary-lighter mx-auto mb-3">
                    <i class="fa fa-tasks text-primary"></i>
                </div>
                <div class="fs-1 fw-bold text-primary mb-1">@Model.Stats.TotalPlannedTasks</div>
                <div class="fw-semibold fs-sm text-muted text-uppercase">کل تسک‌ها</div>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3">
        <a class="block block-rounded block-link-shadow h-100 mb-0" href="javascript:void(0)">
            <div class="block-content py-4">
                <div class="item rounded-circle bg-success-lighter mx-auto mb-3">
                    <i class="fa fa-check text-success"></i>
                </div>
                <div class="fs-1 fw-bold text-success mb-1">@Model.Stats.WorkedTasks</div>
                <div class="fw-semibold fs-sm text-muted text-uppercase">کار شده</div>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3">
        <a class="block block-rounded block-link-shadow h-100 mb-0" href="javascript:void(0)">
            <div class="block-content py-4">
                <div class="item rounded-circle bg-info-lighter mx-auto mb-3">
                    <i class="fa fa-flag-checkered text-info"></i>
                </div>
                <div class="fs-1 fw-bold text-info mb-1">@Model.Stats.CompletedTasks</div>
                <div class="fw-semibold fs-sm text-muted text-uppercase">تکمیل شده</div>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3">
        <a class="block block-rounded block-link-shadow h-100 mb-0" href="javascript:void(0)">
            <div class="block-content py-4">
                <div class="item rounded-circle bg-warning-lighter mx-auto mb-3">
                    <i class="fa fa-clock text-warning"></i>
                </div>
                <div class="fs-1 fw-bold text-warning mb-1">@Model.Stats.TotalWorkTimeFormatted</div>
                <div class="fw-semibold fs-sm text-muted text-uppercase">زمان کل</div>
            </div>
        </a>
    </div>
</div>